@import "base/reset";

// ------------------------------------
// Utils
// ------------------------------------
@import "utils/variables";

// ------------------------------------
// Shared
// ------------------------------------
@import "shared/links";

// ------------------------------------
// Base
// ------------------------------------
@import "base/fonts";
@import "base/base";

// ------------------------------------
// Components
// ------------------------------------

// ------------------------------------
// Layout
// ------------------------------------
@import "layout/navigation";

.canvas {
  height: 100%;
  width: 100%;

  position: fixed;
  left: 0;
  top: 0;

  z-index: -1;
}

// ------------------------------------
// Pages
// ------------------------------------
@import "pages//home/home";
